<a href="https://colab.research.google.com/github/Leito2022/ProyectoETL-ML/blob/main/ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###

In [ ]:
#Librerias
import pandas as pd
import numpy as np

In [ ]:
#Carga de datasets desde el github

dfHulu = pd.read_csv("https://raw.githubusercontent.com/Leito2022/ProyectoETL-ML/main/Datasets/hulu_titles.csv")
dfNet = pd.read_csv("https://raw.githubusercontent.com/Leito2022/ProyectoETL-ML/main/Datasets/netflix_titles.csv")
dfAmz = pd.read_csv("https://raw.githubusercontent.com/Leito2022/ProyectoETL-ML/main/Datasets/amazon_prime_titles.csv")
dfDny =pd.read_csv("https://raw.githubusercontent.com/Leito2022/ProyectoETL-ML/main/Datasets/disney_plus_titles.csv")

In [ ]:
dfHulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [ ]:
dfHulu["id_pelicula"] = "h" + dfHulu["show_id"]
dfNet["id_pelicula"] = "n" + dfHulu["show_id"]
dfAmz["id_pelicula"] = "a" + dfHulu["show_id"]
dfDny["id_pelicula"] = "d" + dfHulu["show_id"]

In [ ]:
dfPeli = pd.concat([dfHulu,dfNet,dfAmz,dfDny]).reset_index(drop=True)

In [ ]:
dfPeli["rating"].isna().sum()

864

In [ ]:
dfPeli["rating"].fillna("G",inplace = True)

In [ ]:
#Sacar espacios en una columna datatime

dfPeli["date_added"] = dfPeli["date_added"].str.lstrip()

In [ ]:
dfPeli["date_added"] = pd.to_datetime(dfPeli["date_added"], format = "%B %d, %Y")

In [ ]:
dfPeli['date_added'] = dfPeli['date_added'].dt.strftime('%Y-%m-%d')

In [ ]:
dfPeli.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id_pelicula
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021-10-24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,NaN,NaN,NaN,2021-10-23,2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,NaN,NaN,NaN,2021-10-23,2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,NaN,NaN,NaN,2021-10-22,2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,NaN,NaN,NaN,2021-10-22,2021,G,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5

In [ ]:
dfPeli = dfPeli.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [ ]:
dfPeli.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id_pelicula
6846,s3774,movie,a silent voice,naoko yamada,"miyu irino, saori hayami, aoi yuki, kensho ono...",japan,2019-06-05,2016,tv-14,130 min,"anime features, international movies",a former class bully reaches out to the deaf g...,NaN
18074,s6195,movie,vampire dog,geoff anderson,"collin mackechnie, julia sarah stone, amy matysio",NaN,NaN,2012,g,91 min,"comedy, kids",a boy unwittingly adopts a 600 year old talkin...,NaN
9401,s6329,movie,black snow,martin hodara,"ricardo darín, leonardo sbaraglia, laia costa,...","argentina, spain",2017-07-01,2017,tv-ma,91 min,"dramas, international movies, thrillers",an old tragedy and lingering animosity erupt w...,NaN
19193,s7314,movie,eggs,john michael williams,"joe pantoliano, brooke shields, sandra bernhar...","poland, united states",NaN,2021,7+,87 min,"animation, kids","when a town is robbed of everything, an unlike...",NaN
1582,s1583,tv show,taste the nation with padma lakshmi,NaN,NaN,united states,2020-06-18,2020,tv-14,1 season,"cooking & food, lifestyle & culture, reality","in taste the nation, award winning cookbook au...",hs1583
15208,s3329,movie,alien uprising,dominic burns,"jean-claude van damme, bianca brigitte vandamm...",NaN,NaN,2013,r,101 min,"action, science fiction",a group of friends awake one morning to find a...,NaN
13980,s2101,tv show,inside jokes,NaN,"alzo slade, jc currais, daphnique springs, kel...",NaN,NaN,2018,16+,1 season,"arts, entertainment, and culture, comedy, unsc...",“inside jokes” follows unknown stand-up comics...,as2101
5413,s2341,movie,vivah,sooraj r. barjatya,"shahid kapoor, amrita rao, anupam kher, alok n...",india,2020-06-25,2006,tv-14,166 min,"dramas, international movies, romantic movies","set up for an arranged marriage, a young coupl...",ns2341
18696,s6817,movie,stop at nothing: the lance armstrong story,alex holmes,"lance armstrong, frankie andreu, sheryl crow, ...",NaN,NaN,2017,13+,100 min,"documentary, sports",you think you know this story? you don't. an i...,NaN
6072,s3000,tv show,the ghost bride,quek shio-chuan,"huang peijia, wu kang-jen, ludi lin, janet hsi...","taiwan, malaysia",2020-01-23,2020,tv-14,1 season,"international tv shows, tv dramas, tv mysteries","in 1890s malacca, li lan finds herself in the ...",ns3000

In [ ]:
dfPeli['duration_int'] = dfPeli['duration'].str.extract('(\d+)')

In [ ]:
def tipo_duracion(columna):
  if columna == "movie":
    return "min"
  else:
    return "season"

In [ ]:
dfPeli['duration_type'] = dfPeli["type"].apply(tipo_duracion)

In [ ]:
dfPeli.drop("duration", axis= 1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id_pelicula,duration_int,duration_type
0,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1,NaN,min
1,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2,94,min
2,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,"action, thriller",a hardened arizona rancher tries to protect an...,hs3,108,min
3,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,horror,a forest ranger and two survivalists with a cu...,hs4,97,min
4,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5,104,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s1446,movie,x-men origins: wolverine,gavin hood,"hugh jackman, liev schreiber, danny huston, wi...","united states, united kingdom",2021-06-04,2009,pg-13,"action-adventure, family, science fiction",wolverine unites with legendary x-men to fight...,ds1446,108,min
22994,s1447,movie,night at the museum: battle of the smithsonian,shawn levy,"ben stiller, amy adams, owen wilson, hank azar...","united states, canada",2021-04-02,2009,pg,"action-adventure, comedy, family",larry daley returns to rescue some old friends...,ds1447,106,min
22995,s1448,movie,eddie the eagle,dexter fletcher,"tom costello, jo hartley, keith allen, dickon ...","united kingdom, germany, united states",2020-12-18,2016,pg-13,"biographical, comedy, drama","true story of eddie edwards, a british ski-jum...",ds1448,107,min
22996,s1449,movie,bend it like beckham,gurinder chadha,"parminder nagra, keira knightley, jonathan rhy...","united kingdom, germany, united states",2020-09-18,2003,pg-13,"buddy, comedy, coming of age",despite the wishes of their traditional famili...,ds1449,112,min
22997,s1450,movie,captain sparky vs. the flying saucers,mark waring,charlie tahan,united states,2020-04-01,2012,tv-g,"action-adventure, animals & nature, animation",view one of sparky's favorite home movies.,ds1450,2,min

In [ ]:
dfPeli["indice"] = dfPeli.index

In [ ]:
import pymysql
from sqlalchemy import create_engine

In [38]:
# Se establece la conexion con MySQL
cadena_conexion = 'mysql+pymysql://root:admin@localhost:3306/streaming'
conexion = create_engine(cadena_conexion)

In [39]:
#Pasar a DB en mysql
dfPeli.to_sql(name = 'servicio_streaming', con = conexion)

OperationalError: ignored

In [ ]:
#Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

#Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

#Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

#Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))